extends layout

block content
	div(class="container-fluid")
		h2= item_name



	div(class='container')
		canvas(id="canvas" width="500" height="300" style="border:1px solid #000000;")

	.row
		.col-md-2
			h3(style='color:white;text-align:right') Base Price:
		.col-md-1
			h3(style='color:white') #{item_baseprice}
	.row
		.col-md-4
			p(style='color:white;') #{item_desc}


	div(class='container')
		div(class='col=sm-4')
			p(id='item_name')
			p(id='item_price')
			p(id='item_desc')
			p(id='item_img')

	p(style="color:#ffffff",id="bids")

	div(class="container")
		div(class="row")
			div(class="col-sm-4")
				div(class="input-group")
					span(class="input-group-addon") Amount
					input(id="input" type="text" class="form-control" name="msg" placeholder="Enter Amount")
			div(class="col-sm-1")
				button(id="submit" type="button" class="btn btn-info btn-md") Place Bid

	.container#chatbox
			.row
				.col-md-5.pull-right
					.panel.panel-primary(style="margin-bottom:0px;")
						#collapseOne.panel-collapse.collapse(style="border-top:5px solid #337ab7;")
							.panel-body
								ul.chat#res-chat
									li.left.clearfix
										span.chat-img.pull-left
											img.img-circle(src='http://placehold.it/50/55C1E7/fff&text=U', alt='User Avatar')
										.chat-body.clearfix
											.header
												strong.primary-font Jack Sparrow
												small.pull-right.text-muted
													span.glyphicon.glyphicon-time
													| 12 mins ago
											p
												| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare
												| dolor, quis ullamcorper ligula sodales.
									li.right.clearfix
										span.chat-img.pull-right
											img.img-circle(src='http://placehold.it/50/FA6F57/fff&text=ME', alt='User Avatar')
										.chat-body.clearfix
											.header
												small.text-muted
													span.glyphicon.glyphicon-time
													| 13 mins ago
												strong.pull-right.primary-font Bhaumik Patel
											p
												| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare
												| dolor, quis ullamcorper ligula sodales.
									li.left.clearfix
										span.chat-img.pull-left
											img.img-circle(src='http://placehold.it/50/55C1E7/fff&text=U', alt='User Avatar')
										.chat-body.clearfix
											.header
												strong.primary-font Jack Sparrow
												small.pull-right.text-muted
													span.glyphicon.glyphicon-time
													| 14 mins ago
											p
												| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare
												| dolor, quis ullamcorper ligula sodales.
									li.right.clearfix
										span.chat-img.pull-right
											img.img-circle(src='http://placehold.it/50/FA6F57/fff&text=ME', alt='User Avatar')
										.chat-body.clearfix
											.header
												small.text-muted
													span.glyphicon.glyphicon-time
													| 15 mins ago
												strong.pull-right.primary-font Bhaumik Patel
											p
												| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare
												| dolor, quis ullamcorper ligula sodales.
							.panel-footer
								.input-group
									input#btn-input.form-control.input-sm(type='text', placeholder='Type your message here...')
									span.input-group-btn
										button#btn-chat.btn.btn-warning.btn-sm
											| Send

						#accordion.panel-heading
							span.glyphicon.glyphicon-comment
							|  Chat
							.btn-group.pull-right
								a.btn.btn-default.btn-xs(type='button', data-toggle='collapse', data-parent='#accordion', data-target='#collapseOne')
									span.glyphicon.glyphicon-chevron-up







	script(src="/socket.io/socket.io.js")
	// jQuery
	script(src='/bower_components/jquery/dist/jquery.min.js')
	// Bootstrap Core JavaScript
	script(src='/bower_components/bootstrap/dist/js/bootstrap.min.js')
	script(src="/javascripts/room.js")


	script.
		var ctx=document.getElementById('canvas').getContext('2d');
		id=#{item_id};
		var img = new Image();
		img.onload = function(){

			ctx.drawImage(img,0,0);
			};
			  img.src = 'data:image/png;base64,#{item_image}';
